.plr12 {
	padding-left: 12px;
	padding-right: 12px;
}

.ptb12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.pl12 {
	padding-left: 12px;
}

.bg-white {
	background-color: #fff;
}

.ptb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mt7 {
	margin-top: 7px;
}