<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<script type="text/javascript" src="../static/lib/mod.js"></script>
	<link rel="stylesheet" href="../static/lib/alert/zepto.alert.css">
</head>
<body>
<!-- start cart list -->
	<section class="bg-white">
		<ul class="cart-list">
		</ul>
	</section>
	<!-- end -->
	<!-- start cartBar -->
	<section class="clearfix cart-detail-go pf bg-white">
		<div class="all-choice-btn fl clearfix">
			<span class="fl"></span>
			<span class="fl">全选</span>
		</div>
		<div class="total-money fl
		">合计： <span>0.00</span>元</div>
		<div class="settlement-btn fl"><a href="javascript:void(0)">结算(<span>0</span>)</a></div>
	</section>
	<!-- end -->

	<!-- start 当购物车为空的时候,显示，且body添加active类，让body的背景颜色铺满全屏 -->
	<section class="cart-null">
		<div class="cart-null-pic">
			<img src="../static/img/cart_null.png" alt="">
		</div>
		<div class="go-buy">
			<a href="list.html">去逛逛</a>
		</div>
	</section>
	<!-- end -->
	<link rel="import" href="../static/common/html/loading.html?__inline">
	<!-- start cart list-->
	<script id="list-tpl" type="text/html">
	<% for(var i=0,len=listData.length; i<len; i++){ %>
		<li class="cart-list-one clearfix plr12">
				<div class="cart-choice-btn fl"></div>
				<div class="cart-goods-pic fl">
					<img src="<%= listData[i].good.thumb %>" alt="">
				</div>
				<div class="cart-goods-desc pr">
					<p class="cart-goods-name"><%= listData[i].good.title %></p>
					<p class="cart-goods-name">库存：<%= listData[i].good.leftNum %>件</p>
					<div class="cart-goods-price clearfix pa">
						<span class="inline-block fl">￥<%= listData[i].good.rentPrice/100 %>元/周</span>
						<span class="inline-block pa delete-btn">删除</span>
					</div>
				</div>
				<input type="text" hidden value="<%= listData[i].id %>" data-price="<%= listData[i].good.rentPrice/100 %>">
			</li>
		</li>
	<% } %>
	</script>
	<!-- end -->
</body>
<script>
	require('../static/modules/cart/cart.js');
</script>

</html>