<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<script type="text/javascript" src="../static/lib/mod.js"></script>
	<link rel="stylesheet" href="../static/lib/alert/zepto.alert.css">
</head>
<body>
	<section class="wrap-init-tpl">
	</section>
	<link rel="import" href="../static/common/html/loading.html?__inline">
<!-- 					<li class="clearfix"><span class="fl">优惠</span><span class="fr discount">+￥0.00</span></li> -->
	<!-- start cart list-->
	<script id="init-tpl" type="text/html">
		<div class="order-state clearfix bg-white plr12">
			<span class="fl">订单状态</span>
			<span class="fr"><%= initData.stateParse %></span>
		</div>
		<div class="pl12 bg-white about-info1">
			<div class="user-name pr">
				<input type="text" value="<%=  initData.recipient ? initData.recipient : '' %>" placeholder="请在此输入您的姓名" readonly="readonly">
				<i class="pa"></i>
			</div>
			<div class="user-phone pr">
				<input type="text" value="<%=  initData.phone ? initData.phone : '' %>" placeholder="请在此输入您的电话" readonly="readonly">
				<i class="pa"></i>
			</div>
			<div class="user-address pr clearfix">
				<input type="text" value="<%=  initData.city ? initData.city : '' %>" class="fl" readonly="readonly">
				<div class="wrap-select clearfix">
					<div class="fl pr">
						<input type="text" value="<%= initData.district ? initData.district : '' %>" readonly="readonly">
					</div>
					<div class="fl pr">
						<input type="text" value="<%= initData.ring ? initData.ring : '' %>" readonly="readonly">
					</div>
				</div>
				<i class="pa"></i>
			</div>
			<div class="user-detail-address">
				<textarea class="address" name="" id="" placeholder="请填写详细地址" readonly="readonly"><%=  initData.address ? initData.address : '' %></textarea>
			</div>
		</div>
		<div class="goods-list-info mt7 pl12 bg-white">
			<div class="goods-list-number clearfix">
				<span class="fl">订单编号</span>
				<span class="fr">共<%= initData.goods.length %>件</span>
			</div>
			<ul>
				<% for(var i=0,len=initData.goods.length; i<len; i++) { %>
					<li class="cart-list-one clearfix">
						<a href="javascript:void(0)">
							<div class="cart-goods-pic fl">
								<img src="<%= initData.goods[i].thumb %>" alt="">
							</div>
							<div class="cart-goods-desc pr">
								<p class="cart-goods-name"><%= initData.goods[i].title %></p>
								<div class="cart-goods-price clearfix pa">
									<span class="inline-block fl">￥<%= initData.goods[i].rentPrice %>元/周</span>
								</div>
							</div>
						</a>
					</li>
				<% } %>
			</ul>
		</div>

		<div class="lease-time pl12 mt7 bg-white">
			<div class="rentTime">
				租赁周数：<%= initData.rentWeeks %>
			</div>	
			<div class="deliveryTime">
				配送时间：<%= initData.deliveryDay %>
			</div>
			<div class="getTime">
				回收时间：<%= initData.rentBackDay %>
			</div>
		</div>

		<div class="cost mt7 plr12 bg-white">
			<ul>
				<li class="clearfix"><span class="fl">租金</span><span class="fr rent-price">￥<%= initData.rentPrice/100 %></span></li>
				<li class="clearfix freight"><span class="fl">运费</span><span class="fr pr freight-span">￥<%= initData.fee/100 %><i>订单不满150另收20元运费</i></span></li>
			</ul>
		</div>
		<div class="all-money clearfix plr12 bg-white">
			<div class="fl agreen"></div>
			<div class="fr allCount">总计：￥<span><%= initData.totalPrice/100 %></span></div>
		</div>
		<div class="at-once-go bg-white clearfix">
			<div class="state1">
				<a href="pay.html#<%= initData.id %>" class="go-btn fr">立即支付</a>
				<span class="cancel-btn fr">取消</span>
			</div>
			<div class="state2">
				<a href="orders.html">返回我的订单</a>
			</div>
		</div>
	</script>
	<!-- end -->
</body>
<script>
	require('../static/modules/detailOrder/detail_order.js');
</script>
</html>