<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>详情页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<script type="text/javascript" src="../static/lib/mod.js"></script>
</head>
<body>
	<!-- start slide -->
	<section class="detail-slide">
		<div class="swiper-container">
			<div class="swiper-wrapper" id="wrap-banner">
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	<!-- end -->
	<!-- start goods detail -->
	<section class="goods-detail bg-white">
		<div class="goods-detail-desc">
		</div>
	</section>
	<!-- end -->

	<!-- start goods description -->
	<section class="bg-white">
		<div class="goods-detail-switch clearfix">
			<div class="goods-guide-btn fl active">玩乐指导</div>
			<div class="goods-parameter fl">商品参数</div>
		</div>
		<div class="goods-detail-switch-cont">
		</div>
	</section>
	<!-- end -->
	<!-- start add cart -->
	
	<section class="detail-cart clearfix pf bg-white">
		<div class="my-cart fl">
			<a href="cart.html">
				<div class="my-cart-cont">
					<div class="my-cart-cont-icon"></div>
					<div class="my-cart-cont-name">购物车</div>
				</div>				
			</a>

		</div>
		<div class="add-cart fl">加入购物车</div>
	</section>
	<!-- end -->
	<link rel="import" href="../static/common/html/loading.html?__inline">

	<!-- start   banner -->
	<script id="banner-tpl" type="text/html">
		<% for(var i=0,len=banner.length; i<len; i++) { %>
			<div class="swiper-slide">
				<a href="#" class="clearfix">
					<img data-src="<%= banner[i] %>" class="swiper-lazy fl">
					<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
				</a>
			</div>
		<% } %>
	</script>
	<!--  end -->

	<script id="detail-tpl" type="text/html">
		<h2 class="plr12 ptb12"><%= detailInfo.title %></h2>
		<ul class="price-list">
			<li class="fl" data-week=1><strong><%= detailInfo.rentPrice['1']/100 %></strong>元/1周<span class="price-list-icon active"></span></li>
			<li class="fl" data-week=2><strong><%= detailInfo.rentPrice['2']/100 %></strong>元/2周<span class="price-list-icon"></span></li>
			<li class="fl" data-week=3><strong><%= detailInfo.rentPrice['3']/100 %></strong>元/3周<span class="price-list-icon"></span></li>
			<li class="fl" data-week=4><strong><%= detailInfo.rentPrice['4']/100 %></strong>元/4周<span class="price-list-icon"></span></li>
		</ul>
		<div class="goods-detail-desc-price clearfix plr12">
			<div class="goods-detail-desc-price-left fl">
				<p>购买价：￥<%= detailInfo.tradePrice/100 %></p>
			</div>
			<div class="goods-detail-desc-price-right fl"><%=  detailInfo.leftNum>0 ? '有货' : '无货' %></div>
		</div>
	</script>

	<script id="good-parameter-cont-tpl" type="text/html">
		<div class="goods-guide-cont active clearfix">
			
		</div>
		<ul class="good-parameter-cont ">
			<li class="clearfix plr12">
				<div class="desc-name fl">
					商品编码：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.goodsCode ? detailInfo.goodsCode : '' %>
				</div>					
			</li>
			<li class="clearfix plr12">
				<div class="desc-name fl">
					商品名称：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.title ? detailInfo.title : '' %>
				</div>					
			</li>
			<li class="clearfix plr12">
				<div class="desc-name fl">
					适合年龄：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.suitableAge ? detailInfo.suitableAge : '' %>
				</div>					
			</li>
			<li class="clearfix plr12">
				<div class="desc-name fl">
					品牌：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.brand ? detailInfo.brand : '' %>
				</div>					
			</li>
			<li class="clearfix plr12">
				<div class="desc-name fl">
					分类：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.funShow ? detailInfo.funShow : '' %>
				</div>					
			</li>
			<li class="clearfix plr12">
				<div class="desc-name fl">
					材质：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.material ? detailInfo.material : '' %>
				</div>					
			</li>
			<li class="clearfix plr12">
				<div class="desc-name fl">
					货号：
				</div>
				<div class="desc-value fl">
					<%= detailInfo.goodsNumber ? detailInfo.goodsNumber : '' %>
				</div>					
			</li>
		</ul> 
	</script>


</body>
<script type="text/javascript" src="../../static/lib/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
	require('../static/modules/detail/detail.js');
</script>

</html>