<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的订单</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<script type="text/javascript" src="../static/lib/mod.js"></script>
</head>
<body>
	<section>
		<nav class="order-status bg-white">
			<div class="tobecall fr"><span></span></div>
			<div class="wrap-status clearfix">
				<div class="tobepaid fl active" data-name="tobepaid">待支付</div>
				<div class="tobegetgoods fl" data-name="tobegetgoods">待收货</div>
				<div class="tosigned fl" data-name="tosigned">已签收</div>
				<div class="togone fl" data-name="togone">已完成</div>				
			</div>
		</nav>
	</section>
	<section class="mt7">
		<div class="is-show" id="tobepaid">		
		</div>
		<div class="is-show" id="tobegetgoods">
		</div>
		<div class="is-show" id="tosigned">
		</div>
		<div class="is-show" id="togone">
		</div>

	</section>

	<nav class="footer-nav clearfix pf bg-white">
		<div class="footer-nav-wrap fl">
			<a href="index.html">
				<div class="go-index">
					<span></span>
					<span>首页</span>
				</div>				
			</a>
		</div>
		<div class="footer-nav-wrap fl">
			<a href="member.html">
				<div class="go-member">
					<span></span>
					<span>会员</span>
				</div>
			</a>
		</div>
		<div class="footer-nav-wrap fl active">
			<a href="orders.html">
				<div class="go-order">
					<span></span>
					<span>我的订单</span>
				</div>
			</a>
		</div>
		<div class="footer-nav-wrap fl">
			<a href="personal_center.html">
				<div class="go-center">
					<span></span>
					<span>个人中心</span>
				</div>
			</a>
		</div>
	</nav>
	<link rel="import" href="../static/common/html/loading.html?__inline">
	<!-- start 待支付tpl-->
	<script id="tobepaid-tpl" type="text/html">
		<% for(var i=0,len=initData.length; i<len; i++){ %>
			<div class="wrap-all-one bg-white" data-order="<%= initData[i].id %>" data-state="<%= initData[i].state %>">
				<div class="order-one-header clearfix plr12">
					<span class="order-one-status fr">待支付</span>
					<span class="order-one-number">订单编号：<%= initData[i].orderNum ? initData[i].orderNum : '' %></span>
				</div>
				<div class="order-one-detail clearfix plr12">
					<a href="javascript:void(0)">
						<% for(var j=0,leng=(initData[i].goods?initData[i].goods.length:0); j<leng; j++){ %>
							<div class="wrap-one" data-id="<%= initData[i].goods[j] ? initData[i].goods[j].id : '' %>">
								<div class="order-one-pic fl">
									<img src="<%= initData[i].goods[j].thumb %>" alt="">
								</div>
								<div class="order-one-cont">
									<p><%= initData[i].goods[j].title %></p>
									<p class="pr">下单时间：<%= initData[i].createdAt.substr(0,9) %></p>
									<p>￥<%= initData[i].goods[j].rentPrice %>/周</p>
								</div>
							</div>

						<% } %>

					</a>
				</div>
				<div class="order-one-other plr12 clearfix">
					<span class="fl">共<%= initData[i].goods?initData[i].goods.length:0 %>件商品</span>
					<span class="fl">租赁时间<%= initData[i].rentWeeks %>周</span>
					<span class="fl">总计 <%= initData[i].totalPrice %></span>
				</div>
				<div class="clearfix order-btn plr12">
					<a href="pay.html#<%= initData[i].id %>" class="fr">付款</a>
					<a href="#" class="fr delete-order">取消</a>
				</div>
			</div>
		<% } %>
	</script>
	<!-- end -->
	<!-- start 待支付tpl-->
	<script id="left-tpl" type="text/html">
		<% for(var i=0,len=initData.length; i<len; i++){ %>
			<div class="wrap-all-one bg-white" data-order="<%= initData[i].id %>" data-state="<%= initData[i].state %>">
				<div class="order-one-header clearfix plr12">
					<span class="order-one-status fr"><%= initData[i].state=='s1' ? '待支付' : (initData[i].state=='s2' ? '待收货' : (initData[i].state=='s3' ? '已签收' : '已完成' ) ) %></span>
					<span class="order-one-number">订单编号：<%= initData[i].orderNum ? initData[i].orderNum : '' %></span>
				</div>
				<div class="order-one-detail clearfix plr12">
					<a href="javascript:void(0)">
						<% for(var j=0,leng=(initData[i].goods?initData[i].goods.length:0); j<leng; j++){ %>
							<div class="wrap-one" data-id="<%= initData[i].goods[j] ? initData[i].goods[j].id : '' %>">
								<div class="order-one-pic fl">
									<img src="<%= initData[i].goods[j].thumb %>" alt="">
								</div>
								<div class="order-one-cont">
									<p><%= initData[i].goods[j].title %></p>
									<p class="pr">下单时间：<%= initData[i].createdAt.substr(0,9) %></p>
									<p>￥<%= initData[i].goods[j].rentPrice %>/周</p>
								</div>
							</div>

						<% } %>

					</a>
				</div>
				<div class="order-one-other plr12 clearfix">
					<span class="fl">共<%= initData[i].goods?initData[i].goods.length:0 %>件商品</span>
					<span class="fl">租赁时间<%= initData[i].rentWeeks %>周</span>
					<span class="fl">总计 <%= initData[i].totalPrice %></span>
				</div>
			</div>
		<% } %>
	</script>
	<!-- end -->
</body>
<script>
	require('../static/modules/orders/orders.js');
</script>
</html>